
.hero {
    width: 100%;
    height: 720px;
    overflow: hidden; 
    position: relative;
    z-index: 0;
}

.imgHero {
    background-image: url(/hero.svg);     background-size: cover; 
    background-position: center; 
    width: 100%;
    height: 100%;
    position: absolute; 
    transition: background-position 0.3s ease-out;
    background-position: bottom center;
}

.hero-text {
    position: absolute;
    bottom: 300px; 
    left: 80px; 
    z-index: 1; 
    color: #fff; 
    gap: 20px;
    animation: slideIn 1s ease-out;
    
    
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(30px); /* Começa de baixo */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Termina na posição original */
    }
}

.hero-text h1 {
    
    font-size: 30px;
    line-height: 180%;
}

.btHero {
    padding: 12px 30px;
    background-color: #000000;     color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    box-sizing: border-box; 
    width: 230px;
    height: 50px;
    text-decoration: none;
    top: 100px;
    text-align: center;
}

.btHero:hover {
    background-color: #603108; 
    transform: scale(1.1);     
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); }

    /* WhatsApp flutuante */
.whatsapp-fly {
    z-index: 99999999 !important;
    position: fixed;
    bottom: 150px;
    right: 35px;
    background-color: #25d366;
    padding: 12px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    
}

.whatsapp-fly:hover {
    transform: scale(1.1);
}

.whatsapp-icon {
    width: 40px;
    height: 40px;
    
}


@media (max-width: 768px) {
    
    .hero-text {
        bottom: 10px;         
        left: 20px;         
        gap: 10px;
        top: 150px;
        animation: slideIn 1s ease-out;
    }

    .hero-text h1 {
        font-size: 28px;
        
    }

    .btHero {
        padding: 10px 25px;     
        margin-top: -50px;
        
        text-align: center;

    }
}

@media (max-width: 480px) {
    .hero {
        height: 500px;     }

    .hero-text {
        bottom: 300px;         left: 10px;         gap: 5px;

    }

    .hero-text h1 {
        font-size: 22px;     
    }

    .btHero {
        padding: 8px 20px;   
        width: 210px;  
    }
    
}
