.hero{
    background-image: url(/hero.svg);
    background-position: center bottom;
    background-size: cover;
    height: 612px;
    padding: 50px;
    transition: transform 0.3s ease;
}

.hero h1{
    color: white;
    font-size: 42px;
    line-height: 200%;
    margin-left: 100px;
    margin-bottom: 100px;
    
}

.btHero{
    width: 220px;
    height: 50px;
    margin-top: 10px;
    border-color: #91490B;
    font-size: 18px;
    font-family: "Julius Sans One", serif;
    border-radius: 5px;
    font-weight:lighter;
    cursor: pointer;
    margin-left: 100px;
}

.btHero:hover{
    background-color: #91490B;
    color: white;

}


@media (max-width: 768px) {
    .hero {
        padding: 30px;
        height: 500px; 
    }

    .hero h1 {
        font-size: 28px; 
        text-align: center; 
        margin: 0;
        margin-left: 120px;
        
        
    }

    .btHero {
        width: 200px; 
        height: 45px; 
        font-size: 14px; 
        margin: 0;
        margin-top: 110px;
        font-weight: 900;
    }
}


@media (max-width: 480px) {
    .hero {
        padding: 20px;
        height: 400px; 
    }

    .hero h1 {
        font-size: 18px; 
        margin-left: 80px;

    }

    .btHero {
        width: 180px; 
        height: 40px;
        font-size: 13px; 
        
    }
}