
.containerCardInfo{
    padding: 0px;
}

.backBlack{
    background-image: url(/backgBlack.svg);
    width: 100%;
    height: 715px;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
}

.imageInfo{
    background-image: url(/imageInfo.svg);
    position: relative;
    width: 1550px;
    height: auto;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-bottom: 20px;

}

.tittleInfo h1{
    color: white;
    line-height: 150%;
    margin-top: 100px;
    margin-left: 100px;
    width: 530px;
}

.tittleInfo p{
    color: white;
    width: 343px;
    height: 385px;
    margin-left: 100px;
    margin-top: 80px;
    line-height: 200%;
    font-size: 20px;
}


/* Ajustes para a versão mobile */
@media (max-width: 768px) {
    /* Back Black */
    .backBlack {
        background-image: url(/backgBlack.svg);
        width: 100%;
        height: auto; /* Ajusta a altura automaticamente para mobile */
        background-position: center;
        background-size: cover;
        margin-top: 40px; /* Menor margem superior para o mobile */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
       /* Espaçamento nas laterais */
    }

    /* Imagem */
    .imageInfo {
        background-image: url(/imageInfo.svg);
        width: 100%; /* Mantém a largura total */
        height: 300px; /* Aumenta o tamanho da imagem */
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 10px; /* Menor espaço entre o texto e a imagem */
        margin-bottom: 30px; /* Retira o espaço extra após a imagem */
        background-position: center; /* Centraliza a imagem */
    }

    /* Título */
    .tittleInfo h1 {
        color: white;
        line-height: 1.5;
        margin-top: 30px; /* Retira o espaço superior para que o texto fique mais perto da imagem */
        margin-left: 20px;
        margin-right: 20px;
        font-size: 1.2rem; /* Tamanho da fonte ajustado */
        width: 90%; /* Evitar que o texto ultrapasse a tela */
        text-align: center; /* Centraliza o texto */
    }

    /* Parágrafo */
    .tittleInfo p {
        color: white;
        width: 90%;
        margin-left: 20px;
        margin-top: 10px; /* Reduz o espaço entre o título e o parágrafo */
        font-size: 1rem; /* Ajuste no tamanho da fonte */
        line-height: 1.6;
        margin-right: 20px;
        text-align: center; /* Centraliza o texto */
        margin-bottom: -200px;
    }
}





