
.containerCardInfo{
    padding: 0px;
}

.backBlack{
    background-image: url(/backgBlack.svg);
    width: 100%;
    height: 615px;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
}

.imageInfo{
    background-image: url(/imageInfo.svg);
    position: relative;
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;     background-position: center;     margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 200px;

}

.tittleInfo h1{
    color: white;
    line-height: 150%;
    margin-top: 100px;
    margin-left: 100px;
    width: 500px;
    

    
}

.tittleInfo p{
    color: white;
    width: 380px;
    height: 370px;
    margin-top: 20px;
    line-height: 200%;
    font-size: 20px;
}



@media (max-width: 768px) {
    
    .backBlack {
        background-image: url(/backgBlack.svg);
        width: 100%;
        height: 650px;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .imageInfo {
        display: none;
    }

    .tittleInfo h1 {
        color: white;
        line-height: 1.5;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 25px;
        width: 90%;
        text-align: center;
    }

    .tittleInfo p {
        color: white;
        width: 90%;
        margin-left: 20px;
        margin-top: 10px;
        font-size: 20px;
        line-height: 1.6;
        margin-right: 20px;
        text-align: center;
        margin-bottom: -200px;
    }
}






