
.headAll{
    background-color: #ffffff; 
    height: 80px; 
    color: #fff; 
    display: flex;
    width: 100%;
    height: auto;
    box-shadow: 0 20px 60px rgb(0, 0, 0);
    z-index: 1; 
    position: relative; 
    overflow: visible;
}
.imgHeader{
    width: 180px;
    height: 80px;
    
}

header ul, li {
    list-style: none;
    
}
nav ul{
    margin-left: 700px;
}
nav a {     
    color: rgb(0, 0, 0);
    
    font-size: 15px;
    text-decoration: none;
    margin-left: 40px;
    font-weight: 600;
}
nav a:hover{
    color: #91490B;
}





 
 



.mobile-menu {
    display: none;
}
.btMobile{
    background-image: url(MenuMb.svg);
    width: 50px; /* Largura do botão */
    height: 50px; /* Altura do botão */
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain; /* Ajusta a imagem para caber no botão sem cortar */
    background-position: center; /* Garante que a imagem fique centralizada */
    border: 0;
    cursor: pointer;
    margin-left: 250px;
    
}
.btMobile:hover{
    transform: rotate(90deg);
}









@media (max-width: 768px) {
    header.home {
        background-image: none;
        background-color: black;
        width: 100%;
        height: auto;
        
    }
    
    nav.open {
        display: flex; /* Torna visível */
        transform: translateX(0); 
        opacity: 1;
    }
    header img {
        height: 60px;
    }
    nav {
        background-color: #303030;
        border-left: 10px solid #333;
        display: none; /* Esconde inicialmente */
        flex-direction: column;
        height: 100%;
        padding: 20px;
        position: fixed;
        right: 0;
        top: 0;
        width: 70vw;
        z-index: 9999; /* Garante que está acima do hero */
        box-shadow: -50vw 0px 0px 0px rgba(0, 0, 0, 0.9);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease; /* Adiciona transição suave */
        transform: translateX(100%); /* Move para fora da tela inicialmente */
        opacity: 0; /* Invisível inicialmente */
        
    }

    nav ul{
        flex-direction: column;
        width: 100%;
        
    }

    nav ul li {
        display: flex;
        margin-bottom: 40px;
    }

    nav a {
        border-bottom: 1px solid white;
        color: white;
        font-size: 18px;
        margin: 0;
        padding: 12px;
        text-decoration: none;
        width: 100%;
    }
    .btMobile {
        
        background-image: url(MenuMb.svg);
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 0;
    cursor: pointer;
    }
    .btMobile:hover {
        transform: rotate(90deg);
    }
    .mobile-menu {
        display: block;
        
    }

    .close-btn {
        background: none;
        border: none;
        color: white;
        font-size: 20px;
        margin: 0 0 12px;
        padding: 12px;
        width: fit-content;
        cursor: pointer;
        
        

    }   
    .close-btn:hover{
        transform: scale(0.95);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.50);
        
        background-color: #91490B;
    }
}