* {
    position: static; /* Reseta o contexto de empilhamento */
    z-index: auto; /* Reseta valores personalizados */
}
.headAll {
    background-color: #ffffff;
    height: 80px;
    color: #fff;
    display: flex;
    width: 100%;
    box-shadow: 0 20px 60px rgb(0, 0, 0);
    z-index: 1;
    position: relative;
    overflow: visible;
    justify-content: space-between;
    align-items: center; /* Centraliza verticalmente */
}

.imgHeader {
    width: 180px;
    height: 80px;
}

header ul,
li {
    list-style: none;
}

nav ul {
    margin-left: auto; /* Ajusta para alinhar à direita */
}

nav a {
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-decoration: none;
    margin-left: 40px;
    font-weight: 600;
}

nav a:hover {
    color: #91490B;
}

/* Estilos do menu mobile */
.mobile-menu {
    display: none;
}

.btMobile {
    background-image: url(MenuMb.svg);
    width: 50px; /* Largura do botão */
    height: 50px; /* Altura do botão */
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 0;
    cursor: pointer;
    margin-left: auto; /* Empurra o ícone para o final (direita) */
    margin-right: 20px;
}

.btMobile:hover {
    transform: rotate(90deg);
}

@media (max-width: 768px) {
    header.home {
        background-image: none;
        background-color: black;
        width: 100%;
        height: auto;
    }

    nav.open {
        display: flex; /* Torna visível */
        transform: translateX(0);
        opacity: 1;
        z-index: 9999;
    }

    header img {
        height: 60px;
    }

    nav {
        background-color: #303030;
        border-left: 10px solid #333;
        display: none; /* Esconde inicialmente */
        flex-direction: column;
        height: 100%;
        padding: 20px;
        position:fixed;
        right: 0;
        top: 0;
        width: 70vw;
        z-index: 9999; /* Garante que está acima do conteúdo */
        box-shadow: -50vw 0px 0px 0px rgba(0, 0, 0, 0.9);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease; /* Transição suave */
        transform: translateX(100%); /* Inicia fora da tela */
        opacity: 0; /* Invisível inicialmente */
        
    z-index: 10000;
    }

    nav.open {
        transform: translateX(0); /* Torna visível */
        opacity: 1; /* Torna visível */
        z-index: 2;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        display: flex;
        margin-bottom: 40px;
    }

    nav a {
        border-bottom: 1px solid white;
        color: white;
        font-size: 18px;
        margin: 0;
        padding: 12px;
        text-decoration: none;
        width: 100%;
    }

    .btMobile {
        display: block; /* Garante que o ícone seja exibido */
    }

    .close-btn {
        background: none;
        border: none;
        color: white;
        font-size: 20px;
        margin: 0 0 12px;
        padding: 12px;
        width: fit-content;
        cursor: pointer;
    }

    .close-btn:hover {
        transform: scale(0.95);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.50);
        background-color: #91490B;
    }

    .mobile-menu {
        display: block;
    }
}
