.container-whyUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto; }

.tittleWhyUs {
    width: 100%; 
    
    text-align: center;
}

.tittleWhyUs h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
}

.quadrados-container {
    display: flex;
    flex-wrap: wrap;     gap: 20px;     justify-content: center;     width: 95%;
}

.quadrado {
    width: 49%;     height: 300px;
    background-color: #f4f4f4;
    border: 1px solid #000;
    padding: 20px;
    box-sizing: border-box;     border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.5s ease, color 0.5s ease;
    
}

.quadrado:hover {
    transform: scale(1.05);     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);     background-color:#91490B;
    color: white;
}

.quadrado h1 {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 20px;
}

.quadrado p {
    font-size: 1rem;
    text-align: center;
    line-height: 1.4;
}

.responseTwo {
    background-image: url(/iconGreen.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.responseTree {
    background-image: url(/iconWhite.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.WhyUs {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.WhyUss {
    padding: 12px 24px;
    background-color: #91490B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem;
    font-family: "Julius Sans One", serif;
    text-decoration: none;
  
}

.WhyUss:hover {
    background-color: #7c3e09;
}

@media (max-width: 768px) {
    .quadrado {
        width: 100%;         margin-bottom: 20px;     }

    .tittleWhyUs h1 {
        font-size: 1.6rem;     }

    .quadrado h1 {
        font-size: 1.4rem;
    }

    .quadrado p {
        font-size: 1rem;
    }
}
