.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212; /* Cor de fundo */
    color: white;
    padding: 20px 40px;
    flex-wrap: wrap; /* Permite quebrar em linhas menores */
  }
  
  .footer-left,
  .footer-right {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    flex: 1;
    margin-left: 100px;
  }
  
  .logo {
    width: 250px;
    height: 130px;
    background-image: url(logoHeader.svg); /* Caminho da imagem */
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
    border-radius: 50%;
  }
  
  .contact-button {
    padding: 10px 20px;
    background-color: orange;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    width: 200px;
  }
  
  .contact-button:hover {
    background-color: darkorange;
  }
  
  .info {
    margin-bottom: 15px;
  }
  
  .social a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .social a:hover {
    text-decoration: underline;
  }
  
  /* Responsividade para telas menores */
  @media (max-width: 768px) {
    .footer {
      flex-direction: column; /* Muda a direção para coluna */
      padding: 20px;
      text-align: center;
    }
  
    .footer-left,
    .footer-right {
      align-items: center;
      margin-bottom: 20px;
    }
  
    .logo {
      margin: 0 auto 15px; /* Centraliza a logo */
    }
  
    .social a {
      display: block; /* Links em linha única */
      margin: 5px 0;
    }
  }