.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212; /* Cor de fundo */
    color: white;
    padding: 20px 40px;
    flex-wrap: wrap; /* Permite quebrar em linhas menores */
  }
  
  .footer-left,
  .footer-right {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    flex: 1;
    margin-left: 100px;
  }
  
  .logo {
    width: 250px;
    height: 130px;
    background-image: url(logoHeader.svg); /* Caminho da imagem */
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
    border-radius: 50%;
  }
  
  .contact-button {
    padding: 10px 20px;
    background-color: orange;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    width: 200px;
    text-decoration: none;
  }
  
  .contact-button:hover {
    background-color: darkorange;
  }
  
  .info {
    margin-bottom: 15px;
  }
  
  .social a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .social a:hover {
    text-decoration: underline;
  }
  
  /* Responsividade para telas menores */
  @media (max-width: 768px) {
    .footer {
      flex-direction: column; /* Muda a direção para coluna */
      padding: 0;
      padding-top: 100px;
      padding-right: 100px;
      margin-left: -40px;
      text-align: center;
      min-height: 200px; /* Adiciona uma altura mínima para garantir que o footer não fique cortado */
      display: flex;
      justify-content: flex-start; /* Alinha o conteúdo do footer no topo */
      height: 700px;
      
    }
  
    .footer-left,
    .footer-right {
      align-items: center;
      margin-bottom: 20px;
      flex-grow: 1; /* Permite que esses itens cresçam e ocupem o espaço disponível */
    }
  
    .logo {
      margin: 0 auto 15px; /* Centraliza a logo */
    }
  
    .social {
      display: flex; /* Alinha os itens social com flexbox */
      justify-content: center; /* Centraliza os ícones sociais */
      flex-direction: row; /* Mantém os ícones na horizontal */
      gap: 10px; /* Espaçamento entre os ícones */
    }
  
    .social a {
      display: block; /* Garante que os links sejam blocos */
      margin: 5px 0;
    }
}
