.aboutToffa {
    width: 100%;
    height: 600px;
    display: flex; /* Adiciona flexbox para organizar os elementos em linha */
    align-items: center; /* Centraliza verticalmente os elementos */
    justify-content: space-between; /* Espaça os elementos (imagem e texto) */
    padding: 0 50px; /* Adiciona um espaçamento interno nas laterais */
    gap: 20px; /* Espaçamento entre a imagem e os textos */
    box-sizing: border-box;
}

.cupCoffe {
    background-image: url(/cup.svg);
    background-repeat: no-repeat;
    background-size: contain; /* Garante que a imagem se ajusta ao contêiner */
    background-position: center; /* Centraliza a imagem no contêiner */
    width: 48%; /* A imagem ocupa metade do espaço */
    height: 350px;
}

.tittleSubAboutToffa {
    width: 50%; /* Os textos ocupam a outra metade do espaço */
    font-size: 20px;
}

.subTittleAboutSection {
    line-height: 1.5;
    font-size: 15px;
    margin-top: 20px;
    width: 400px;
}

.buttonAboutSection {
    margin-top: 20px;
    text-decoration: none;
}

.btAbout {
    padding: 12px 24px;
    background-color: #91490B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 200px;
    font-size: 18px;
    height: 50px;
    text-decoration: none; 
    font-family: "Julius Sans One", serif;
    transition: all 0.3s ease; 
    text-align: center; 
    align-items: center;
}
.buttonAboutSection a {
    text-decoration: none;
}

.btAbout:hover {
    
    text-decoration: none; 
    background-color: #91490B;
    color: white;
    transform: scale(1.05); /* Aumenta levemente o botão ao passar o mouse */
}

@media (max-width: 768px) {
    .aboutToffa {
        flex-direction: column; /* Empilha os elementos verticalmente no mobile */
        height: auto;
        text-align: center; /* Centraliza o texto no mobile */
    }

    .cupCoffe {
        width: 100%; /* A imagem ocupa toda a largura */
        height: 200px; /* Ajusta a altura para caber no mobile */
        margin: 0 auto; /* Centraliza horizontalmente */
    }

    .tittleSubAboutToffa {
        width: 100%; /* Textos ocupam toda a largura */
        margin-top: 20px;
        font-size: 16px;
    }

    .subTittleAboutSection {
        font-size: 14px;
        line-height: 1.4;
    }

    .btAbout {
        width: 200px;
        height: 45px;
        font-size: 16px;
        margin-bottom: 200px;
        display: flex;
        text-align: center;
        align-items: center;
    }
}
