
.tittleHow h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  
  .image-coffe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-image: url('/imageCafe.svg');
    background-size: cover;
    background-position: center;
    height: 100vh; 
    padding: 0; 
    margin: 0; 
  }
  
  
  .whiteCard {
    width: 80%; 
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    margin-top: 50px; 
  }
  
  
  .iconsHow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; 
    width: 100%;
  }
  
  .iconCoffe,
  .iconWhatsapp,
  .iconDelivery {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }
  
  
  .iconCoffe {
    background-image: url(/iconCoffe.svg); 
    background-size: cover;
    background-position: center;
  }
  
  .iconWhatsapp {
    background-image: url(/WhatsApp.svg); 
    background-size: cover;
    background-position: center;
  }
  
  .iconDelivery {
    background-image: url(/Delivery.svg); 
    background-size: cover;
    background-position: center;
  }
  
  .tittleIcon {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px; 
    color: #333; 
  }
  
  
  .buttonHowM {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .buttonHow {
    padding: 12px 24px;
    background-color: #91490B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .buttonHow:hover {
    background-color: #7c3e09;
  }
  
  
  
  
  @media (max-width: 768px) {
    .image-coffe {
      height: auto; 
      padding: 0; 
      margin: 0; 
    }
  
    .whiteCard {
      width: 60%; 
      margin: 10 auto; 
      margin-bottom: 20px;
    }
  
    .iconsHow {
      margin-bottom: 20px;
    }
  
    .iconCoffe,
    .iconWhatsapp,
    .iconDelivery {
      width: 50px; 
      height: 50px;
    }
  
    .tittleIcon {
      font-size: 1rem;
      text-align: center;
    }
  
    .buttonHowM {
      margin-top: 20px;
    }

    .container {
        margin-left: 0; 
        padding: 0; 
      }
  }
  