@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}
 /*GRID*/
.container {
  margin: 0 auto;
  width: 100%;
}

.d-flex{
  display: flex;
}
.flex-column{
flex-direction: column;
}

.al-center{
  align-items: center;
}

/* vai deixar os itens no inicio da div (***-----) */
.jc-flex-start {
    justify-content: flex-start;
}
/* vai deixar os itens no fim da div (-----***) */
.jc-flex-end {
  justify-content: flex-end;
}
/* vai deixar os itens no centro da div (--***--) */
.jc-flex-center {
  justify-content: center;
}
/* vai deixar os itens um afastado do outro e sem margem no começo e no fim (*-*-*) */
.jc-space-between {
  justify-content: space-between;
}
/* vai deixar os itens com uma margem entre sim iguais e do começo e no final margem menor (-*--*--*-) */
.jc-space-around {
  justify-content: space-around;
}
/* vai deixar os itens com uma margem entre sim iguais e do começo e no final tbm (--*--*--*--) */
.jc-space-evenlyn {
  justify-content: space-evenly;
}

